<!DOCTYPE html>
<html>
<head>
    <title>I.T. Force</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/decisiones.css" />
</head>
<body>
    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    {{#if user}}
                        <li role="presentation"><a href="/">home</a></li>
                        <li role="presentation"><a href="/profile">profile</a></li>
                        <li role="presentation"><a href="/logout">logout</a></li>
                    {{else}}
                        <li role="presentation"><a href="/login">login</a></li>
                        <li role="presentation"><a href="/signup">sign up</a></li>
                    {{/if}}
                </ul>
            </nav>
            <h3 class="text-muted">I.T. Force</h3>
        </div>


        <div class="row">
            <div class="col-lg-12">
                {{#if success_msg}}
                    <div class="alert alert-success">{{success_msg}}</div>
                {{/if}}

                {{#if error_msg}}
                    <div class="alert alert-danger">{{error_msg}}</div>
                {{/if}}

                {{#if error}}
                    <div class="alert alert-danger">{{error}}</div>
                {{/if}}

                {{{body}}}
            </div>
        </div>

        <footer class="footer">
            <p>&copy; 2017 I.T. FORCE, Inc.</p>
            {{#each logueados}}
                Key: {{@key}}
                {{#each this}}
                    Key: {{@key}} value: {{this}}<br>
                {{/each}}
            {{/each}}
        </footer>

    </div> <!-- /container -->
</body>
</html>