<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/js/dragAndDrop.js"></script>
<div id="counter"></div>

Escenario: {{esc.objetivo}}<br>
Index: {{indexEsc}}<br>

<script>
    var now = new Date().getTime();
    var distance = hr_finish - now;

    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Output the result in an element with id="demo"
    document.getElementById("counter").innerHTML += "\n" +  days + "d " + hours + "h "
            + minutes + "m " + seconds + "s ";
    var votos = [];
    var olakease = 2;
</script>

holaaaaaaa {{{username}}}
<form method="post" action="/sesion/escenario/mandar_decisiones/{{{idSesionEnc}}}/{{{indexEsc}}}/{{{idPartEnc}}}/{{{username}}}">
<table class="table">
    <thead>
    <tr>
        <th> </th>
        <th> Nombre </th>
        <th> Mecanismo </th>
        <th> Resultado </th>
    </tr>
    </thead>
    {{#each dec as |decision|}}
        <tbody>
        <td><input type="checkbox" class="checks" name = "lang[]" value = {{decision.id}}></td><br>
        <td>{{decision.nombre}}</td>
        <td>{{decision.mecanismo}}</td>
        <td>{{decision.resultado}}</td>
        </tbody>
    {{/each}}

</table>

<button type="submit" id = "resultado" class="btn btn-default"> Enviar</button>
</form>

<form id="hola" method="post" action="/sesion/escenario/mandar_decisiones/{{{idSesionEnc}}}/{{{indexEsc}}}/{{{idPartEnc}}}/{{{username}}}">
    <div id="dragzone" class="dragzone"
         ondrop="DROP.drop(event, votos)" ondragover="DROP.allowDrop(event)"
         ondragenter="DROP.handleDragEnter(event)"
         ondragleave="DROP.handleDragLeave(event)"></div>
    <br>
    <div class="scroll"
         ondrop="DROP.drop(event, votos)" ondragover="DROP.allowDrop(event)"
         ondragenter="DROP.handleDragEnter(event)"
         ondragleave="DROP.handleDragLeave(event)">
        {{#each dec as |decision|}}
            <div id='{{decision.id}}' class="tarjeta" draggable="true" ondragstart="DROP.drag(event)">
                <h2>{{decision.nombre}}</h2>
                <h4>{{decision.mecanismo}}</h4>
                <p>{{decision.resultado}}</p>
            </div>
        {{/each}}
    </div>
    <button class="btn btn-default" type="submit" name = "votos[]"  value = > Enviar </button>
</form>

<script> var socket = io.connect(window.location.host);

var counter = document.getElementById('counter');
    resultado = document.getElementById('resultado');

var x = setInterval(function() {

    // Get todays date and time
    var now = new Date().getTime();

    // Find the distance between now an the count down date
    var distance = {{hr_finish}} - now;

    // Time calculations for days, hours, minutes and seconds
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    var str_segundo = new String (seconds)
    if (str_segundo.length === 1)
        seconds = "0" + seconds;

    var str_minuto = new String (minutes)
    if (str_minuto.length === 1)
        minutes = "0" + minutes;

    var str_hora = new String (hours)
    if (str_hora.length === 1)
        hours = "0" + hours;

    var horaImprimible = hours + " : " + minutes + " : " + seconds;

    // Output the result in an element with id="demo"
    document.getElementById("counter").innerHTML = horaImprimible;

    // If the count down is over, write some text
    if (distance < 0) {
        clearInterval(x);
        document.getElementById("counter").innerHTML = "SE ACABO DEL TIEMPO";
    }
}, 1000);

// Output the result in an element with id="demo"


console.log('iniciando timer..');
socket.emit('iniciar',{
    hora: {{hor}},
    minuto: {{mi}},
    segundo: {{se}},
    indexEsc: {{indexEsc}},
    idSesion: {{idSesion}}
});

//Enviar mensaje al hacer click
resultado.addEventListener('click',function () {
    if ({{nocreador}}) {
        socket.emit('resultado', {
            idPart: {{idPart}},
            indexEsc: {{indexEsc}},
            idSesion: {{idSesion}},
            namePart: {{namePart}}
        });
    }

});

socket.on('resultado',function (data) {
});

socket.on('timer',function (data) {
    document.getElementById("counter").innerHTML += "\n" ;
});

</script>