<h2 class="page-header">Creando la sesión...</h2>
{{#if errors}}
    {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
{{/if}}
{{#if propio}}
    <div class="alert alert-danger">no puedes invitarte a ti mismo</div>
{{/if}}
{{#if repetido}}
    <div class="alert alert-danger">ya invitaste a esta persona</div>
{{/if}}
{{#if notiempo}}
    <div class="alert alert-danger">pon un tiempo al escenario</div>
{{/if}}
{{#if escrepetido}}
    <div class="alert alert-danger">ya creaste un escenario con el mismo objetivo</div>
{{/if}}
{{#if noesc}}
    <div class="alert alert-danger">crea escenarios antes de comenzar la sesión</div>
{{/if}}
{{#if noinv}}
    <div class="alert alert-danger">invita personas antes de comenzar la sesión</div>
{{/if}}
<form method="post" action="/crear_sesion">
    <label>invitados</label><br>
    {{#each sesion.invitados as |invitado|}}
        {{invitado}} <br>
    {{/each}}
    {{idSesionEnc}} <br>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="escribe el email de tu invitado aquí" name="email">
    </div>

    <button type="submit" class="btn btn-default" formaction="/crear_sesion/invitar/{{{idSesionEnc}}}">invitar</button>
    <br><br>

    <label>escenarios</label><br>
    {{#each sesion.escenarios as |esc|}}
        {{esc.objetivo}}:
        {{#if esc.hh}}{{esc.hh}} hora/s{{/if}}
        {{#if esc.mm}}{{esc.mm}} minuto/s{{/if}}
        {{#if esc.ss}}{{esc.ss}} segundo/s{{/if}}
        <br>
    {{/each}}
    <div class="form-group">
        <input type="text" class="form-control" placeholder="escribe el objetivo de tu escenario aqui" name="esc">
    </div>
    <div class="col-sm-2">
        <input type="text" class="form-control" placeholder="hh" name="hh">
    </div>
    <div class="col-sm-2">
        <input type="text" class="form-control" placeholder="mm" name="mm">
    </div>
    <div class="col-sm-2">
        <input type="text" class="form-control" placeholder="ss" name="ss">
    </div>
    <button type="submit" class="btn btn-default" formaction="/crear_sesion/esc/{{{idSesionEnc}}}">agregar escenario</button>
    <br><br>
    <input type="hidden" id="idSesion" value="{{{sesion.id}}}">
    <button type="submit" class="btn btn-default">Crear Sesion</button>
</form>