<script src="/socket.io/socket.io.js"></script>

<script>
    var socket = io.connect(window.location.host);
    socket.on('start',function (data) {
        document.location.reload(true);
    });

</script>

<div id="mario-chat">
    <div id="chat-window">
        <div id="output"></div>
    </div>
    <input type="hidden" id="handle" value="{{{username}}}">
    <input type="hidden" id="email" value="{{{emailInv}}}">
    <input type="hidden" id="idSesion" value="{{{idSesion}}}">
    {{username}}: <input id="message" type="text" placeholder="Message" onkeypress="myFunction(event)">
    <button id="send">Send</button>
</div>
<br><br>
<script src="/js/cliente.js"></script>

{{#if creador}}
    <form method="post" action="/sesion/escenario/{{{idSesionEnc}}}/{{{idEscEnc}}}/{{{idPartEnc}}}">
        <input type="hidden" id="iniciar" value="{{{idSesion}}}">
        <input type="hidden" id="handle" value="{{{username}}}">
        <button type="submit" id = "iniciar_sesion" class="btn btn-lg btn-info">iniciar sesión</button>
    </form>
    <script src="/js/start.js"></script>
    <script src="/js/moderador.js"></script>
{{/if}}

{{#if inicio}}
    <form method="post" name ="inicio" action="/sesion/escenario/{{{idSesionEnc}}}/{{{idEscEnc}}}/{{{idPartEnc}}}">

        <input type="hidden" id="iniciar" value="{{{idSesion}}}">
        <input type="hidden" id="handle" value="{{{username}}}">
        <input type="hidden" id="emailInv" value="{{{emailInv}}}">
        <body onload = "document.inicio.submit();"></body>
    </form>
{{/if}}


