<h2 class="page-header">coloca tu nombre de invitado :)</h2>
{{#if errors}}
    {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
{{/if}}

{{#if creador}}
    <form method="post" action="/sesion/mod/iniciando/{{{idSesionEnc}}}/{{{emailInvEnc}}}">
        <div class="form-group">
            <label>username</label>
            <input type="text" class="form-control" placeholder="Username" name="username">
        </div>
        <button type="submit" class="btn btn-default">submit</button>
    </form>

{{else}}
    <form method="post" action="/sesion/part/iniciando/{{{idSesionEnc}}}/{{{emailInvEnc}}}">
        <div class="form-group">
            <label>username</label>
            <input type="text" class="form-control" placeholder="Username" name="username">
        </div>
        <button type="submit" class="btn btn-default">Comenzar sesión</button>
    </form>
    
{{/if}}

